.nav{
    background: #2e9633;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    color: white;
}
.img-nav{
    padding-left: 40px;
}
.img-nav:hover{
    rotate: 360deg;
}